# Android Emulator acessando API Spring Boot do PC
EXPO_PUBLIC_API_BASE_URL=http://10.0.2.2:8080

# Celular físico: troque pelo IP do seu computador na rede
# EXPO_PUBLIC_API_BASE_URL=http://192.168.0.10:8080

EXPO_PUBLIC_COMMIT_HASH=DEV-COMMIT-HASH
